form{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.inputArea{
    padding: 1em;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1em;
}
