<app-header></app-header>
<app-users (userId)="getUserId($event)"></app-users>

<div class="btnAdd">
  <span>Add a new Story</span>
  <button mat-fab color="accent" (click)="showCreateDialog()"><mat-icon>add</mat-icon></button>
</div>

<div class="cards">
  @for (story of stories; track $index) {
    <app-cards (storyToUpdate)="update($event)" (storyToDelete)="delete($event)" [storyId]="story.id" [storyTitle]="story.title" [userId]="userId" [storyDescription]="story.description" [storyDepartment]="story.department"></app-cards>
  }
</div>