<form>
    <h1>Add a new Story</h1>
    <mat-form-field class="inputArea">
        <mat-label>Title</mat-label>
        <input matInput [formControl]="title">
    </mat-form-field>
    <mat-form-field class="inputArea">
        <mat-label>Department</mat-label>
        <input matInput [formControl]="department">
    </mat-form-field>
    <mat-form-field class="inputArea">
        <mat-label>Description</mat-label>
        <input matInput [formControl]="description">
    </mat-form-field>
    <div class="buttons">
        <button mat-raised-button color="warn" (click)="closeDialog()">Close</button>
        <button mat-raised-button color="accent" (click)="creatStory()" >Add</button>
    </div>
</form>